<button (click)="goBack()">Volver</button>
<div>
    <h2>{{ averia.nombre | uppercase }} Detalles</h2>
  <div>
    <label>Nombre:
      <input [(ngModel)]="averia.nombre" placeholder="name"/>
    </label>
  </div> 
  <table class="container">
      <tr>
        <td class="izq">
          <b>id</b>
        </td>
        <td>{{averia.id}}</td>
      </tr>
      <tr>
        <td class="izq">
          <b>Nombre</b>
        </td>
        <td>
          <input [(ngModel)]="averia.nombre">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>Descripcion</b>
        </td>
        <td>
          <input [(ngModel)]="averia.descripcion">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>Sistema</b>
        </td>
        <td>
          <input [(ngModel)]="averia.sistema">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>Modelo</b>
        </td>
        <td>
          <input [(ngModel)]="averia.modelo">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>Bastidor</b>
        </td>
        <td>
          <input [(ngModel)]="averia.bastidor">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>estado</b>
        </td>
        <td>
          <input [(ngModel)]="averia.estado">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>Persona De Contacto</b>
        </td>
        <td>
          <input [(ngModel)]="averia.personaContacto">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>concesionario</b>
        </td>
        <td>
          <input [(ngModel)]="averia.concesionario">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>fecha</b>
        </td>
        <td>
          <input [(ngModel)]="averia.fecha">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>referencia</b>
        </td>
        <td>
          <input [(ngModel)]="averia.referencia">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>numeroIndicencias</b>
        </td>
        <td>
          <input [(ngModel)]="averia.numeroIncidencias">
        </td>
      </tr>
      <tr>
        <td class="izq">
          <b>usuario</b>
        </td>
        <td>
          <input [(ngModel)]="averia.usuario">
        </td>
      </tr>
      <tr>
        <td>
        
        </td>
        <td>
            <button (click)="add()">Guardar averia</button>
        </td>
      </tr>


    </table>

</div>