
<app-barra-nav></app-barra-nav>
<div class="container-fluid">
    <div class="row justify-content-center"> 
        <div class="mb-2">
                <input [(ngModel)]="nombreFiltro">
                <button (click)="borrarFiltro()" class="btn btn-dark">Borrar filtro</button>
        </div>

    </div>
    <table class="container">
        <tr>
            <td class="titulo">
                <b>Nombre averia</b>
            </td>
            <td class="titulo"> 
                <b>Dirección averia</b>
            </td>
            <td class="titulo">
                <button class="btn btn-success" routerLink="../averia/nuevo">Añadir averia</button> 
            </td>
        </tr>
        <tr *ngFor="let averia of averias | filtroAverias: nombreFiltro | slice:inicio:fin" 
        (click)="onSelect(averia)">
            <td > {{ averia.nombre | uppercase }}</td>
            <td>  {{ averia.id }} </td>
        <td><button class="btn btn-secondary btn-sm" routerLink="../averia/{{averia.id}}">Mostrar información</button> </td>
        </tr>
    </table>
    <div class="row justify-content-center">
        <div class="col-auto mt-2">
            <button *ngIf="!esInicio" (click)=retrocederDiez() class="btn btm-primary btn-arrow-left">Diez anteriores</button>
        </div>
        <div class="col-auto mt-2">
            <button *ngIf="!esFin" (click)=avanzarDiez() class="btn btm-primary btn-arrow-right ">Diez siguientes</button>
        </div>
      
        
    </div>
</div>