
<app-barra-nav></app-barra-nav>
<div class="container-fluid">
    <table class="container-fluid">
        <tr>
            <td>
                <b>Nombre concesionario</b>
            </td>
            <td>
                <b>Dirección concesionario</b>
            </td>
            <td>
                <button class="btn btn-success" routerLink="../concesionario/nuevo">Añadir concesionario</button> 
            </td>
        </tr>
        <tr *ngFor="let concesionario of concesionarios" 
        (click)="onSelect(concesionario)" 
        [class.selected]="concesionarioSeleccionado">
            <td > {{ concesionario.nombre | uppercase }}</td>
            <td>  {{ concesionario.direccion }} </td>
        <td><button class="btn btn-secondary btn-sm" routerLink="../concesionario/{{concesionario.id}}">Mostrar información</button> </td>
        </tr>
    </table>
</div>
