<app-barra-nav>
</app-barra-nav>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="mb-2">
                <input [(ngModel)]="nombreFiltro">
                <button (click)="borrarFiltro()" class="btn btn-dark">Borrar filtro</button>
        </div>

    </div>
    <div class="container">

        <table class="container">
            <tr>
                <td class="titulo">
                    <b>Nombre usuario</b>
                </td>
                <td class="titulo">
                    <b>Email usuario</b>
                </td>
                <td class="titulo">
                    <button class="btn btn-success" routerLink="../administracion/nuevo">Añadir usuario</button>
                </td>
            </tr>
            <tr *ngFor="let usuario of usuarios | filtroUsuarios: nombreFiltro | slice:inicio:fin" (click)="onSelect(usuario)">
                <td> {{ usuario.name | uppercase }}</td>
                <td> {{ usuario.email }} </td>
                <td>
                    <button class="btn btn-secondary btn-sm" routerLink="../administracion/{{usuario.id}}">Mostrar información</button>
                </td>
            </tr>
        </table>
        <div class="row justify-content-center">
            <div class="col-auto mt-2">
                <button *ngIf="(!esInicio && nombreFiltro=='') " (click)=retrocederDiez() class="btn btn-secondary">Diez anteriores</button>
            </div>
            <div class="col-auto mt-2">
                <button *ngIf="(!esFin && nombreFiltro=='')" (click)=avanzarDiez() class="btn btn-secondary">Diez siguientes</button>

            </div>
        </div>
    </div>
</div>